

      <p>Alfabet esperancki, składający się z 28 liter: </p>
      <p>
          <!--div class="well well-sm" style="color:blue; width:auto; border-color:blue; border: 1px solid; font-family: Courier New">
            a,b,c,<red>ĉ</red>,d,e,f,g,<red>ĝ</red>,h,<red>ĥ</red>,i,j,<red>ĵ</red>,k,l,m,n,o,p,r,s,<red>ŝ</red>,t,u,<red>ŭ</red>,<red>v</red>,z
          </div-->
          <kbd>a, b, c, <red>ĉ</red>, d, e, f, g, <red>ĝ</red>, h, <red>ĥ</red>, i, j, <red>ĵ</red>, k, l, m, n, o, p, r, s, <red>ŝ</red>, t, u, <red>ŭ</red>, <red>v</red>, z</span></kbd>
      </p>
      <p>Wśród wyżej wymienionych litery zaznaczone na czerwono zasługują na szczególną uwagę:</p>
    
    <div align="center" >    
      <table class="table" style="width:80%; background-color:rgba(128, 128, 128, 0.5)" >
      <thead>
        <tr>
          <th>Litera esperanto</th>
          <th>Polski odpowiednik</th>
          <th>Przykład użycia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ĉ</td>
          <td>cz</td>
          <td>ĉapo (czapka)</td>
        </tr>
        <tr>
          <td>ĝ</td>
          <td>dż</td>
          <td>ĝardeno (ogród)</td>
        </tr>
        <tr>
          <td>ĥ</td>
          <td>ch</td>
          <td>ĥoro (chór)</td>
        </tr>
        <tr>
          <td>ĵ</td>
          <td>ż/rz</td>
          <td>ĵeti (rzucać)</td>
        </tr>
        <tr>
          <td>ŭ</td>
          <td>ł</td>
          <td>aŭto (auto)</td>
        </tr>
        <tr>
          <td>v</td>
          <td>w</td>
          <td>valizo (waliza)</td>
        </tr>
      </tbody>
    </table> 
   </div> 
    
      <p>Wszystkie wyrazy czyta się tak jak pisze. Równocześnie należy pamiętać, iż litera "i" nie zmiękcza spółgłosek ją poprzedzających.</p>
      <p>Akcent pada zawsze na przedostatnią sylabę (tak jak i w języku polskim).</p>

 
