

<p>
  W esperanto wszystkie czasowniki w bezokoliczniku mają końcówkę <b>i</b>.
</p>
<p>
  Aby odmienić czasownik w czasie teraźniejszym, czasownik kończymy na <b>as</b>. Analogicznie tworzymy czas przeszły (końcówka <b>is</b>) oraz przyszły (końcówka <b>os</b>).
</p>
<p>
   Końcówka czasownika pozostaje identyczna we wszystkich osobach i wszystkich liczbach. Wponiższej tabeli pokazana jest przykładowa odmiana czasownika <b>esti</b> (być) przez osoby
</p>

<div align="center" >    
  <table class="table table-curved table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
    <thead >
      <tr >
        <th width="33.33333333%" style="text-align:center">Czas teraźniejszy</th>
        <th width="33.33333333%" style="text-align:center">Czas przeszły</th>
        <th width="33.33333333%" style="text-align:center">Czas przyszły</th>
      </tr>
    </thead>
    <tbody>
      <tr  align="center">
        <td >Mi est<red>a</red>s</td>
        <td >Mi est<red>i</red>s</td>
        <td >Mi est<red>o</red>s</td>
      </tr>
      <tr  align="center">
        <td >Vi est<red>a</red>s</td>
        <td >Vi est<red>i</red>s</td>
        <td >Vi est<red>o</red>s</td>
      </tr>
      <tr align="center">
        <td >Li/ŝi/ĝi est<red>a</red>s</td>
        <td >Li/ŝi/ĝi est<red>i</red>s</td>
        <td >Li/ŝi/ĝi est<red>o</red>s</td>
      </tr>
      <tr align="center">
        <td>Ni est<red>a</red>s</td>
        <td>Ni est<red>i</red>s</td>
        <td>Ni est<red>o</red>s</td>
      </tr>
      <tr  align="center">
        <td>Vi est<red>a</red>s</td>
        <td>Vi est<red>i</red>s</td>
        <td>Vi est<red>o</red>s</td>
      </tr>
      <tr  align="center">
        <td>Ili est<red>a</red>s</td>
        <td>Ili est<red>i</red>s</td>
        <td>Ili est<red>o</red>s</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  Tryb przypuszczający tworzymy przez odjęcie od bezokolicznika czasownika końcówki –i i dodanie końcówki <b>us</b>, identycznej we wszystkich osobach i liczbach.
</p>
<p>
  Tryb rozkazujący tworzymy przez odjęcie od bezokolicznika końcówki gramatycznej –i i dodanie końcówki <b>u</b>.
</p>  

