
  <div class="row">
    <div class="col-sm-12" align="left">
    <h4>Autor</h4>
    </div>
    <div class="col-sm-4" align="left">
      <p id="rcorners2"><img src="../images/thumb_zamenhof-2.jpg" alt="Esperanto"  height="150"  /></p>
    </div>
    <div class="col-sm-8" align="left">
      <blockquote>
      <p>Powstanie esperanta jest dziełem <b> Ludwika Zamenhofa </b>, polsko-żydowskiego lekarza okulisty urodzonego w Białymstoku. </p>
      <p>Dzieciństwo spędzone w tym wielokulturowym mieście było dla niego okazją do obserwowania nieprzyjaznych stosunków pomiędzy przedstawicielami zamieszkujących je narodów: Rosjanami, Polakami, Niemcami i Żydami. </p>
      <p>Za główną przyczynę konfliktów Zamenhof uznał brak wspólnego języka, dlatego też już jako uczeń rozpoczął prace nad projektem nowego języka wspólnego dla wszystkich ludzi. W przeciwieństwie do języków narodowych miał to być w jego zamyśle język neutralny i łatwy do nauczenia, tak aby mógł być przyjęty przez wszystkich jako drugi język, nauczany równolegle do języka narodowego i używany w sytuacjach wymagających międzynarodowego porozumienia. </p>
      <footer>Wikipedia</footer>
      </blockquote>
    </div>
  </div>
    

  <div class="row">    
    <div class="col-sm-12" align="left">
    <h4>Współczesność</h4>
    </div>
    <div class="col-sm-4" align="left">
      <p id="rcorners2"><img src="../images/Flag_of_Esperanto.png" alt="Esperanto"  height="140"  /></p>
    </div>
    <div class="col-sm-8" align="left">
      <blockquote>
      <p>Esperanto jest dziś w pełni rozwiniętym językiem z tysiącami użytkowników na całym świecie i dużą liczbą wydawnictw. Do znanych na świecie esperantystów należą noblista w dziedzinie ekonomii Reinhard Selten, mistrzyni świata w szachach Zsuzsa Polgár czy Tivadar Soros, ojciec finansisty George'a Sorosa.</p>
      <p>Niektóre uczelnie wyższe włączają esperanto do programów studiów lingwistycznych, inne oferują naukę esperanta jako osobny przedmiot. Na Uniwersytecie Adama Mickiewicza w Poznaniu prowadzone są 3-letnie studia na kierunku interlingwistyka skupiające się na esperancie i używające go jako języka wykładowego.</p>
      <footer>Wikipedia</footer>
      </blockquote>
    </div>
  </div>
