<p>
  W esperanto wyróżnia się następujące imiesłowy.
</p>

<div align="center" >  
  <div class="btn-group" style="width:80%">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#im1">Rzeczowne</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#im2">Przymiotne</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#im3">Przysłowne</button>
  </div>
</div>
<hr width="90%">
<div class="row">
  <div class="col-sm-4">
    <div align="right" id="im1" class="collapse">
      <table class="table table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
        <thead >
          <tr>
            <th width="30%">PRZYMIOTNE</th>
            <th width="35%">Czynny</th>
            <th width="35%">Bierny</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>Przeszły</td>
            <td>leg<red>inta</red></td>
            <td>atak<red>ita</red></td>
          </tr>
          <tr>
            <td>Teraźniejszy</td>
            <td>leg<red>anta</red></td>
            <td>atak<red>ata</red></td>
          </tr>
          <tr>
            <td>Przyszły</td>
            <td>leg<red>onta</red></td>
            <td>atak<red>ota</red></td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
  <div class="col-sm-4">
    <div align="center" id="im2" class="collapse">
      <table class="table table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
        <thead >
          <tr>
            <th width="30%">RZECZOWNE</th>
            <th width="35%">Czynny</th>
            <th width="35%">Bierny</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>Przeszły</td>
            <td>leg<red>into</red></td>
            <td>atak<red>ito</red></td>
          </tr>
          <tr>
            <td>Teraźniejszy</td>
            <td>leg<red>anto</red></td>
            <td>atak<red>ato</red></td>
          </tr>
          <tr>
            <td>Przyszły</td>
            <td>leg<red>onto</red></td>
            <td>atak<red>oto</red></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-4" >
    <div align="left" id="im3" class="collapse">
      <table class="table table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
        <thead >
          <tr>
            <th width="30%">PRZYSŁOWNE</th>
            <th width="35%">Czynny</th>
            <th width="35%">Bierny</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>Przeszły</td>
            <td>leg<red>inte</red></td>
            <td>atak<red>ite</red></td>
          </tr>
          <tr>
            <td>Teraźniejszy</td>
            <td>leg<red>ante</red></td>
            <td>ata<red>kate</red></td>
          </tr>
          <tr>
            <td>Przyszły</td>
            <td>leg<red>onte</red></td>
            <td>atak<red>ote</red></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


