<p>
  W esperanto wszystkie przymiiotniki posiadają końcówkę <b>a</b>.
</p>
<p>
  Przymiotniki (podobnie jak rzeczowniki) posiadają szczątkową odmianę przez przypadki - w bierniku dodawana jest końcówka <b>n</b>.  W liczbie mnogiej na końcówka przymiotnika to <b>j</b>.
</p>
<p>
  Wponiższej tabeli zaprezentowane są wszystkie przypadki rzeczownika <b>domo</b> z przymiotnikiem <b>granda</b>
</p>

<div align="center" >    
    <!--table class="table" style="width:80%; background-color:rgba(128, 128, 128, 0.5)" -->
    <table class="table table-curved table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">  
            <thead>
            <tr>
                <th width="40%">Polski przypadek</th>
                <th width="30%">Liczba pojedyńcza</th>
                <th width="30%">Liczba mnoga</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                  <td>Mianownik (kto? co?)</td>
                  <td>grand<red>a</red> domo</td>
                  <td>grand<red>aj</red> domoj</td>
            </tr>
            <tr>
                  <td>Dopełniacz (kogo? czego?)</td>
                  <td>de grand<red>a</red> domo</td>
                  <td>de grand<red>aj</red> domoj</td>
            </tr>
           <tr>
                  <td>Celownik (komu? czemu?)</td>
                  <td>al grand<red>a</red> domo </td>
                  <td>al grand<red>aj</red> domoj</td>
            </tr>
            <tr>
                  <td>Biernik (kogo? co?)</td>
                  <td>grand<red>a<b>n</b></red> domo<b>n</b></td>
                  <td>grand<red>aj<b>n</b></red> domoj<b>n</b></td>
            </tr>
            <tr>
                  <td>Narzędnik (kim?, czym?)</td>
                  <td>per grand<red>a</red> domo </td>
                  <td>per grand<red>aj</red> domoj</td>
            </tr>
            <tr>
                  <td>Miejscownik (o kim? o czym?)</td>
                  <td>pri grand<red>a</red> domo</td>
                  <td>pri grand<red>aj</red> domoj</td>
            </tr>
            </tbody>
    </table>
</div><p>