<p>
  W poniższej tabeli wymieniono najczęściej używane przyimki.
</p>
<div align="center" >    
  <table class="table table-striped table-bordered table-hover table-condensed" style="width:60%; background-color:  #D9EDF7">
    <thead>
      <tr>
        <th width="50%">EO</th>
        <th width="50%">PL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>en</td>
        <td>w</td>
      </tr>
      <tr>
        <td>apud</td>
        <td>obok</td>
      </tr>
      <tr>
        <td>antaŭ</td>
        <td>przed</td>
      </tr>
      <tr>
        <td>malantaŭ</td>
        <td>za (miejsce)</td>
      </tr>
      <tr>
        <td>post</td>
        <td>po (czas)</td>
      </tr>
      <tr>
        <td>ĉe</td>
        <td>przy, u</td>
      </tr>
      <tr>
        <td>cis</td>
        <td>po tej stronie</td>
      </tr>
      <tr>
        <td>trans</td>
        <td>po tamtej stronie</td>
      </tr>
      <tr>
        <td>tra</td>
        <td>poprzez</td>
      </tr>
      <tr>
        <td>ĝis</td>
        <td>do</td>
      </tr>
      <tr>
        <td>al</td>
        <td>do, w kierunku</td>
      </tr>
      <tr>
        <td>ĉirkaŭ</td>
        <td>wokół</td>
      </tr>
      <tr>
        <td>ekster</td>
        <td>poza</td>
      </tr>
      <tr>
        <td>inter</td>
        <td>między</td>
      </tr>
      <tr>
        <td>preter</td>
        <td>wzdłuż</td>
      </tr>
      <tr>
        <td>laŭ</td>
        <td>według, wzdłuż, zgodnie</td>
      </tr>
      <tr>
        <td>sub</td>
        <td>pod</td>
      </tr>
      <tr>
        <td>super</td>
        <td>nad</td>
      </tr>
      <tr>
        <td>sur</td>
        <td>na</td>
      </tr>
      <tr>
        <td>kontraŭ</td>
        <td>naprzeciw</td>
      </tr>
      <tr>
        <td>dum</td>
        <td>podczas</td>
      </tr>
      <tr>
        <td>el</td>
        <td>z</td>
      </tr>
      <tr>
        <td>krom</td>
        <td>oprócz</td>
      </tr>
      <tr>
        <td>malgraŭ</td>
        <td>pomimo</td>
      </tr>
      <tr>
        <td>per</td>
        <td>za pomocą</td>
      </tr>
      <tr>
        <td>po</td>
        <td>po</td>
      </tr>
      <tr>
        <td>por</td>
        <td>dla</td>
      </tr>
      <tr>
        <td>pri</td>
        <td>o</td>
      </tr>
      <tr>
        <td>pro</td>
        <td>z powodu</td>
      </tr>
      <tr>
        <td>sen</td>
        <td>bez</td>
      </tr>
      <tr>
        <td>kun</td>
        <td>z</td>
      </tr>
      <tr>
        <td>anstataŭ</td>
        <td>zamiast</td>
      </tr>
      <tr>
        <td>de</td>
        <td>od, z</td>
      </tr>
      <tr>
        <td>da</td>
        <td>Przyimek <b>da</b> wyraża ilość czegoś i jest stosowany po słowie wyrażającym miarę.</td>
      </tr>
      <tr>
        <td>je</td>
        <td>Przyimek <b>je</b> pełni rolę przyimka uniwersalnego, stosowanego wtedy, gdy żaden inny nie pasuje do wyrażenia danej myśli.</td>
      </tr>
      
    </tbody>
  </table>
</div>