<p>W esperanto wszystkie rzeczowniki mają końcówkę <b>o</b>. Aby utworzyć liczbę mnogą, do rzeczownika w liczbie pojedyńczej dodajemy końcówkę <b>j</b>.
</p>
<p>
    Końcówka rzeczownika we wszystkich przypadkach jest identyczna z mianownikiem. Jedynym wyjątkiem jest biernik - w tym przypadku rzeczowniki otrzymują końcwókę <b>n</b>.
</p>
<p>
  Wponiższej tabeli zaprezentowane są wszystkie przypadki rzeczownika <b>domo</b>.
</p>
<div align="center" >    
    <!--table class="table" style="width:80%; background-color:rgba(128, 128, 128, 0.5)" -->
    <table class="table table-curved table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
            <thead>
              <tr>
                <th width="40%">Polski przypadek</th>
                <th width="30%">Liczba pojedyńcza</th>
                <th width="30%">Liczba mnoga</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                  <td>Mianownik (kto? co?)</td>
                  <td>dom<red>o</red></td>
                  <td>dom<red>oj</red></td>
            </tr>
            <tr>
                  <td>Dopełniacz (kogo? czego?)</td>
                  <td>de dom<red>o</red></td>
                  <td>de dom<red>oj</red></td>
            </tr>
           <tr>
                  <td>Celownik (komu? czemu?)</td>
                  <td>al dom<red>o</red></td>
                  <td>al dom<red>oj</red></td>
            </tr>
            <tr>
                  <td>Biernik (kogo? co?)</td>
                  <td>dom<red>o<b>n</b></red></td>
                  <td>dom<red>oj<b>n</b></red></td>
            </tr>
            <tr>
                  <td>Narzędnik (kim?, czym?)</td>
                  <td>per dom<red>o</red></td>
                  <td>perdom<red>oj</red></td>
            </tr>
            <tr>
                  <td>Miejscownik (o kim? o czym?)</td>
                  <td>pri dom<red>o</red></td>
                  <td>pri dom<red>oj</red></td>
            </tr>
            </tbody>
    </table>
</div>
