<div align="left" >  
  <p>Słowotwórstwo to jedna z największych zalet esperanto. Jego regularność sprawia, iż z jednego rdzenia słowotwórczego z łatwością możemy tworzymy rodziny wyrazów bliskoznacznych, dodając odpowiednie przedrostki i przyrostki.</p>

  <div class="btn-group" style="width:80%">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#wb1">Przedrostki</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#wb2">Przyrostki</button>
  </div>
</div>
<hr width="90%">
<div class="row">
  <div class="col-sm-6">
    <div align="left" id="wb1" class="collapse">
      <table class="table table-condensed" style="width:80%;background-color:rgba(128, 128, 128, 0.5)"> 
        <thead >
          <tr>
            <th width="25%">Przedrostek</th>
            <th width="75%">Znaczenie</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>mal-</td>
            <td>służy do wyrażenia przeciwieństwa</td>
          </tr>
          <tr>
            <td>ge-</td>
            <td>służy do wyrażenia obu płci</td>
          </tr>
          <tr>
            <td>bo-</td>
            <td>służy do wyrażenia powinowactwa przez małżeństwo</td>
          </tr>
          <tr>
            <td>pra-</td>
            <td>służy do wyrażania dawnego charakteru</td>
          </tr>
          <tr>
            <td>dis-</td>
            <td>oznacza w przybliżeniu „roz-”</td>
          </tr>
          <tr>
            <td>ek-</td>
            <td>oznacza początek jakiejś czynności lub jej krótkotrwałość</td>
          </tr>
          <tr>
            <td>eks-</td>
            <td>odpowiada polskiemu „eks-”</td>
          </tr>
          <tr>
            <td>fi-</td>
            <td>yraża pogardę, niechęć (w sensie moralnym)</td>
          </tr>
          <tr>
            <td>re-</td>
            <td>oznacza powrót, powtórzenie, ponowne wykonanie</td>
          </tr>
          <tr>
            <td>ĉef-</td>
            <td>wyraża wagę, rangę</td>
          </tr>
          <tr>
            <td>mis-</td>
            <td>oznacza błędne, omyłkowe, niewłaściwe wykonanie</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
  <div class="col-sm-6">
    <div align="left" id="wb2" class="collapse">
      <table class="table table-condensed" style="width:80%;background-color:rgba(128, 128, 128, 0.5)"> 
        <thead >
          <tr>
            <th width="25%">Przyrostek</th>
            <th width="75%">Znaczenie</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>-in</td>
            <td>służy do tworzenia formy żeńskiej.</td>
          </tr>
          <tr>
            <td>-an</td>
            <td>służy do tworzenia wyrazów oznaczających przynależność</td>
          </tr>
          <tr>
            <td>-ist</td>
            <td>oznacza zawód, hobby, stale wykonywaną czynność, przywiązanie do jakiejś idei</td>
          </tr>
          <tr>
            <td>-ul</td>
            <td>oznacza osobnika mającego jakąś cech</td>
          </tr>
          <tr>
            <td>-et</td>
            <td>służy do tworzenia zdrobnienia</td>
          </tr>
          <tr>
            <td>-eg</td>
            <td>służy do wzmocnienia jakiejś cechy</td>
          </tr>
          <tr>
            <td>-id</td>
            <td>służy do wskazania potomka lub młodego osobnika</td>
          </tr>
          <tr>
            <td>-il</td>
            <td>wskazuje na narzędzie</td>
          </tr>
          <tr>
            <td>-ar</td>
            <td>określa zbiorowość</td>
          </tr>
          <tr>
            <td>-em</td>
            <td>oznacza skłonność, inklinację</td>
          </tr>   
          <tr>
            <td>-ej</td>
            <td>oznacza miejsce przeznaczone do czegoś</td>
          </tr>
          <tr>
            <td>-ig</td>
            <td>wyraża czynienie jakimś, skłanianie do czegoś, powodowanie czegoś</td>
          </tr>
          <tr>
            <td>-iĝ</td>
            <td>oznacza stawanie się czymś</td>
          </tr>
          <tr>
            <td>-end</td>
            <td>wyraża konieczność zrobienia czegoś</td>
          </tr>
          <tr>
            <td>-ind</td>
            <td>oznacza, że coś jest godne czegoś, warte czegoś</td>
          </tr>
          <tr>
            <td>-aĉ</td>
            <td>oznacza cechę negatywną</td>
          </tr>
          <tr>
            <td>-aĵ</td>
            <td>wyraża konkretny rezultat jakiejś czynności, cechy czy stanu</td>
          </tr>
          <tr>
            <td>-ad</td>
            <td>oznacza powtarzalność czy przedłużone trwanie jakiejś czynności</td>
          </tr>
          <tr>
            <td>-ebl</td>
            <td>oznacza możliwość</td>
          </tr>
          <tr>
            <td>-ec</td>
            <td>oznacza cechę, pojęcie w znaczeniu abstrakcyjnym</td>
          </tr>
          <tr>
            <td>-er</td>
            <td>oznacza cząstkę czegoś</td>
          </tr>
          <tr>
            <td>-ing</td>
            <td>oznacza nasadę, oprawę, pochwę</td>
          </tr>
          <tr>
            <td>-ism</td>
            <td>oznacza doktrynę, ruch, system</td>
          </tr>
          <tr>
            <td>-uj</td>
            <td>ma trzy znaczenia: nazwy pojemnika, naczynia, opakowania; nazwy drzew i krzewów od nazw owoców lub kwiatów; nazwy państw od narodowości</td>
          </tr>
          <tr>
            <td>-estr</td>
            <td>oznacza osobę kierującą, przełożonego</td>
          </tr>
          <tr>
            <td>-ĉj</td>
            <td>yraża pieszczotliwe zdrobnienie męskiego imienia lub tytułu</td>
          </tr>
          <tr>
            <td>-nj</td>
            <td>wyraża pieszczotliwe zdrobnienie żeńskiego imienia lub tytułu</td>
          </tr>
          <tr>
            <td>-um</td>
            <td>jest przyrostkiem uniwersalnym stosowanym tam, gdzie nie pasują inne przyrostki</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


