
<p>
  W poniższej tabeli wymieniono najczęściej używane spójniki.
</p>
<div align="center" >    
  <table class="table table-striped table-bordered table-hover table-condensed" style="width:60%; background-color:  #D9EDF7">
    <thead>
      <tr>
        <th width="50%">EO</th>
        <th width="50%">PL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>kaj</td>
        <td>i</td>
      </tr>
      <tr>
        <td>aŭ</td>
        <td>lub</td>
      </tr>
      <tr>
        <td>sed</td>
        <td>lecz</td>
      </tr>
      <tr>
        <td>ke</td>
        <td>że</td>
      </tr>
      <tr>
        <td>ĉu</td>
        <td>czy</td>
      </tr>
      <tr>
        <td>ĉar</td>
        <td>ponieważ</td>
      </tr>
      <tr>
        <td>kaj... kaj...</td>
        <td>i ... i ..</td>
      </tr>
      <tr>
        <td>aŭ... aŭ...</td>
        <td>albo... albo..</td>
      </tr>
      <tr>
        <td>nek</td>
        <td>ani</td>
      </tr>
      <tr>
        <td>Ĉu... aŭ...</td>
        <td>czy... czy też</td>
      </tr>
      
      <tr>
        <td>Ĝis kiam</td>
        <td>do chwili gdy</td>
      </tr>
      <tr>
        <td>Kvankam</td>
        <td>chociaż</td>
      </tr>
      <tr>
        <td>Apenaŭ</td>
        <td>ledwie</td>
      </tr>
      <tr>
        <td>Kvazaŭ</td>
        <td>jak gdyby</td>
      </tr>
      <tr>
        <td>Se</td>
        <td>jeśli</td>
      </tr>
      <tr>
        <td>Do</td>
        <td>zatem</td>
      </tr>
      <tr>
        <td>Tamen</td>
        <td>jednak</td>
      </tr>
      <tr>
        <td>Nome</td>
        <td>mianowicie</td>
      </tr>
      <tr>
        <td>Cetere</td>
        <td>zresztą</td>
      </tr>
      <tr>
        <td>Antaŭ ol</td>
        <td>zanim</td>
      </tr>
      <tr>
        <td>Eĉ se</td>
        <td>nawet gdy</td>
      </tr>
      <tr>
        <td>Escepte se</td>
        <td>chyba że</td>
      </tr>
      <tr>
        <td>Malgraŭ ke</td>
        <td>chociaż</td>
      </tr>
      <tr>
        <td>Kondiĉe ke</td>
        <td>pod warunkiem, że</td>
      </tr>
      <tr>
        <td>Post kiam</td>
        <td>po tym jak</td>
      </tr>
      <tr>
        <td>jen... jen...</td>
        <td>to... to...</td>
      </tr>
      <tr>
        <td>ju... des...</td>
        <td>im... tym...</td>
      </tr>
      <tr>
        <td>Dum</td>
        <td>podczas gdy</td>
      </tr>
      
    </tbody>
  </table>
</div>
  
  



