<div id="start-content">
  <div class="row">
    <div class="col-sm-4" align="center">
      <p id="rcorners1"><img src="../images/img-book-300px.png" alt="Esperanto" class="img-circle"  width="150"  height="150"></p>
      <h4>Fakty</h4>

        <p>Najpopularniejszy międzynarodowy język pomocniczy.</p>
        <p>Nie pozwiązany genealogicznie z żadnym językiem etnicznym.</p>
        <p>Esperanto jest aktywnie wspierane i rozwijane przez entuzjastów z całego świata.</p>
      
    </div>
    <div class="col-sm-4" align="center">
      <p id="rcorners1"><img src="../images/img-graphics-rounded-300px.png" alt="Esperanto" class="img-circle" width="150"  height="150"></p>
      <h4>Liczby</h4>

        <p>Językiem esperanto posługuje się ponad <b>2 miliony</b> ludzi.</p>
        <p>Krajowe związki esperantystów działają w <b>40</b> państwach.</p>
        <p>Esperancka Wikipedia liczy ponad <b>220 000</b> haseł.</p>

    </div>
    <div class="col-sm-4" align="center">
      <p id="rcorners1"><img src="../images/img-info-blue-300px.png"  alt="Esperanto"  width="150" height="150"></p>
      <h4>Ciekawostki</h4>        
        <p>Jedyny sztuczny język liturgiczny Kościoła katolickiego.</p>
        <p><b>Reinhard Selten</b> (Nobel z ekonomii 1994) napisał w esperanto dwie książki o teorii gier.</p>
        <p>15 grudnia obchodzony jest jako Dzień Ludwika Zamenhofa.</p>
    </div>
  </div>
</div>
