<p>
  W esperanto wyróżnia się następujące zaimki.
</p>

<div align="center" >  
 <div class="btn-group" style="width:80%">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#osobowe">Osobowe</button>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#dzierzawcze">Dzierżawcze</button>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#zwrotne">Zwrotne</button> 
 </div>
</div>
<hr width="90%">
 <div class="row">
  <div class="col-sm-4">
   <div align="right" id="osobowe" class="collapse">
    <table class="table table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
    <thead >
      <tr>
        <th width="40%">OSOBOWE</th>
        <th width="60%">Znaczenie</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>mi</td>
        <td>ja</td>
      </tr>
      <tr>
        <td>vi</td>
        <td>ty</td>
      </tr>
      <tr>
        <td>li</td>
        <td>on</td>
      </tr>
      <tr>
        <td>ŝi</td>
        <td>ona</td>
      </tr>
      <tr>
        <td>ĝi</td>
        <td>ono</td>
      </tr>
      <tr>
        <td>ni</td>
        <td>my</td>
      </tr>
      <tr>
        <td>vi</td>
        <td>wy</td>
      </tr>
      <tr>
        <td>ili</td>
        <td>oni</td>
      </tr>
  </tbody>
  </table>  
      </div>
  </div>
  <div class="col-sm-4">
   <div align="center" id="dzierzawcze" class="collapse">
       <table class="table table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
    <thead >
      <tr>
        <th width="40%">DZIERŻAWCZE</th>
        <th width="60%">Znaczenie</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>mia</td>
        <td>mój/moja/moje</td>
      </tr>
      <tr>
        <td>via</td>
        <td>twój/twoja/twoje</td>
      </tr>
      <tr>
        <td>lia</td>
        <td>jego</td>
      </tr>
      <tr>
        <td>ŝia</td>
        <td>jej</td>
      </tr>
      <tr>
        <td>ĝia</td>
        <td>jego</td>
      </tr>
      <tr>
        <td>nia</td>
        <td>nasz/nasza/nasze</td>
      </tr>
      <tr>
        <td>via</td>
        <td>wasz/wasza/wasze/Pana/Pani/Państwa</td>
      </tr>
      <tr>
        <td>ilia</td>
        <td>ich</td>
      </tr>
  </tbody>
  </table>
  </div>
  </div>
  <div class="col-sm-4" >
    <div align="left" id="zwrotne" class="collapse">
       <table class="table table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
    <thead >
      <tr>
        <th width="40%">ZWROTNE</th>
        <th width="60%">Znaczenie</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>min</td>
        <td>się</td>
      </tr>
      <tr>
        <td>vin</td>
        <td>się</td>
      </tr>
      <tr>
        <td>lin</td>
        <td>się</td>
      </tr>
      <tr>
        <td>ŝin</td>
        <td>się</td>
      </tr>
      <tr>
        <td>ĝin</td>
        <td>się</td>
      </tr>
      <tr>
        <td>nin</td>
        <td>się</td>
      </tr>
      <tr>
        <td>vin</td>
        <td>się</td>
      </tr>
      <tr>
        <td>ilin</td>
        <td>się</td>
      </tr>  
  </tbody>
  </table>
  </div>
  </div>
</div>

 
 
<p>
  Zaimki rzeczowne, przymiotne i przysłowne często nazwa się <i>tabelvortoj</i>.
</p>

<div align="center" >  
 <div class="btn-group" style="width:80%">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#rzeczowne">Rzeczowne</button>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#przymiotne">Przymiotne</button>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#przysłowne">Przysłowne</button>
 </div>
</div>
<hr width="90%">
<div align="center" id="rzeczowne" class="collapse">    
  <table class="table table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
    <thead >
      <tr>
        <th width="25%">RZECZOWNE</th>
        <th width="15%">Pytające</th>
        <th width="15%">Wskazujące</th>
        <th width="15%">Upowszechniające</th>
        <th width="15%">Nieokreślone</th>
        <th width="15%">Przeczące</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>Osoba</td>
        <td>kiu - kto</td>
        <td><a href="#" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">tiu</a> - tamten</td>
        <td>ĉiu - każdy</td>
        <td>iu - jakiś</td>
        <td>neniu - nikt</td>
      </tr>
      <tr>
        <td>Przedmiot</td>
        <td>kio - co</td>
        <td>tio - tamto</td>
        <td>ĉio - wszystko</td>
        <td>io - coś</td>
        <td>nenio - nic</td>
      </tr>
    </tbody>
  </table>
</div>
<div align="center" id="przymiotne" class="collapse">    
  <table class="table table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
    <thead >
      <tr>
        <th width="25%">PRZYMIOTNE</th>
        <th width="15%">Pytające</th>
        <th width="15%">Wskazujące</th>
        <th width="15%"v>Upowszechniające</th>
        <th width="15%">Nieokreślone</th>
        <th width="15%">Przeczące</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>Cecha</td>
        <td>kia - jaki</td>
        <td>tia - taki</td>
        <td>ĉia - wszelki</td>
        <td>ia - jakikolwiek</td>
        <td>nenia - żaden</td>
      </tr>
      <tr>
        <td>Przynależność</td>
        <td>kies - czyje</td>
        <td>ties - tego</td>
        <td>ĉies - każdego</td>
        <td>ies - czyjś</td>
        <td>nenies - niczyj</td>
      </tr>
    </tbody>
  </table>
</div>
<div align="center" id="przysłowne" class="collapse">    
  <table class="table table-striped table-bordered table-hover table-condensed" style="width:80%; background-color:  #D9EDF7">
    <thead >
      <tr>
        <th width="25%">PRZYSŁOWNE</th>
        <th width="15%">Pytające</th>
        <th width="15%">Wskazujące</th>
        <th width="15%"v>Upowszechniające</th>
        <th width="15%">Nieokreślone</th>
        <th width="15%">Przeczące</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>Miejsce</td>
        <td>kie - gdzie</td>
        <td>tie - tam</td>
        <td>ĉie - wszędzie</td>
        <td>ie - gdzieś</td>
        <td>nenie - nigdzie</td>
      </tr>
      <tr>
        <td>Sposób</td>
        <td>kiel - jak</td>
        <td>tiel - tak</td>
        <td>ĉiel - wszelkim sposobem</td>
        <td>iel - jakoś</td>
        <td>neniel - w żaden sposób</td>
      </tr>
      <tr>
        <td>Czas</td>
        <td>kiam - kiedy</td>
        <td>tiam - wtedy</td>
        <td>ĉiam - zawsze</td>
        <td>iam - kiedyś</td>
        <td>neniam - nigdy</td>
      </tr>
      <tr>
        <td>Liczba</td>
        <td>kiom - ile</td>
        <td>tiom - tyle</td>
        <td>ĉiom - wszelka ilość</td>
        <td>iom - trochę</td>
        <td>neniom - ani trochę</td>
      </tr>
      <tr>
        <td>Przyczyna</td>
        <td>kial - dlaczego</td>
        <td>tial - dlatego</td>
        <td>ĉial - z każdego powodu</td>
        <td>ial - dlaczegoś</td>
        <td>nenial - z żadnego powodu</td>
      </tr>
    </tbody>
  </table>
</div>
<!--
<h4>Zaimki osobowe</h4>
<p>

  </p>

<h4>Zaimki </h4>
<p>
mi
mia
  

mój, moja, moje

via
  

twój, twoja, twoje

lia
  

jego

ŝia
  

jej

ĝia
  

jego

nia
  

nasz, nasza, nasze

via
  

wasz, wasza, wasze, Pana, Pani, Państwa

ilia
  

Ich
  </p>
<p> zaimek nieosobowy - oni</p>
<h4>Zaimek zwrotny</h4>
<p>
Zaimek zwrotny (refleksivo) si, sin odpowiada polskiemu się i przyjmuje różne formy zależnie od podmiotu.

Mi lavas min – myję się

Vi lavas vin – myjesz się

Li (ŝi, ĝi) lavas sin – on (ona, ono) myje się

Ni lavas nin – my myjemy się

Vi lavas vin – wy myjecie się

Ili lavas sin – oni się myją

Li diris al si mem: estu trankvila – powiedział sam do siebie: bądź spokojny

Li forgesis pri sia laboro – zapomniał o swojej pracy

Ili amas siajn gepatrojn – oni kochają swoich rodziców
  </p>
